{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">Какая то рыба</h5>
    <div class="card-body">
        <p class="card-text">Для современного мира повышение уровня гражданского сознания обеспечивает актуальность дальнейших направлений развития. В своём стремлении улучшить пользовательский опыт мы упускаем, что представители современных социальных резервов являются только методом политического участия и смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности.</p>
        <a href="/" class="btn btn-danger">Know more!</a>
    </div>
</div>
</div>

{% endblock sidebar %}